<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TOTP Generator</title>
  <link rel="stylesheet" href="css/bulma-0.9.0.min.css">
  <style>
    [v-cloak] {
      display: none;
    }

    html, body {
      height: 100%;
    }

    body > footer {
      position: sticky;
      top: 100vh;
    }

    .footer {
      padding: 2rem;
    }

    @media screen and (min-width: 1068px) {
      .container {
        max-width: 600px;
        width: 600px;
        margin-bottom: 4rem;
      }
    }

    .active{
        color: red;
    }
  </style>
</head>
<body>

  <script defer src="js/vue-2.4.0.min.js"></script>
  <script defer src="js/otpauth-3.1.3.min.js"></script>
  <script defer src="js/clipboard-2.0.6.min.js"></script>
  <script defer src="js/faker.min.js"></script>
  <script defer src="js/app.js?v=1.0"></script>

  <section id="app" class="section" v-cloak>

    <div class="container" style="margin-bottom: 2rem;">
        <h1 class="title">
            辅助工具
            <a href="./YoungQRCode.zip" style="font-size: 0.6em;">点击此处下载解码工具</a>
        </h1>

        <div class="field">
            <div class="control">
                <button id="generator-username"  class="button" v-on:click="generateUsername">随机生成用户名</button>
                <div style="margin: 0 20px;display: inline-block;">
                    <label class="title is-size-3 has-text-centered" id="username">{{ username }}</label>
                    <div class="control is-clearfix" style="height: 40px !important; display: inline-block; margin-left: 5px;">
                        <a class="button is-large is-light is-pulled-right" id="clipboard-button-username" style="padding: 8px 25px !important; height: 40px !important;" data-clipboard-target="#username" title="复制用户名">
                            <img src="img/clippy.svg" height="24" width="24">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="field">
            <div class="control">
                <button id="generator-password"  class="button" v-on:click="generatePassword">生成一个随机密码</button>
                <div style="margin: 0 20px;display: inline-block;">
                    <label class="title is-size-3 has-text-centered" id="password">{{ password }}</label>
                    <div class="control is-clearfix" style="height: 40px !important; display: inline-block; margin-left: 5px;">
                        <a class="button is-large is-light is-pulled-right" id="clipboard-button-password" style="padding: 8px 25px !important; height: 40px !important;" data-clipboard-target="#password" title="复制随机密码">
                            <img src="img/clippy.svg" height="24" width="24">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="container">

      <h1 class="title">TOTP Token Generator</h1>

      <div class="field">
        <label class="label is-uppercase" v-bind:class="[hasError ? activeClass : '', '']">{{ SecretKeyTitle }}</label>
        <div class="control">
          <input class="input" type="text" v-model="secret_key" 
          v-on:input="updateSecret"
          placeholder="The secret key (in base-32 format)">
        </div>
      </div>

      <div class="field">
        <label class="label is-uppercase">Number of Digits</label>
        <div class="control">
          <input class="input" type="text" v-model="digits" placeholder="Usually 6">
        </div>
      </div>

      <div class="field">
        <label class="label is-uppercase">Token Period (in seconds)</label>
        <div class="control">
          <input class="input" type="text" v-model="period" placeholder="Usually 30">
        </div>
      </div>

      <div class="content">
        <span class="has-text-grey is-size-7">Updating in {{ updatingIn }} seconds</span>
        <progress class="progress is-info is-small" v-bind:value="updatingIn" :max="period"></progress>
      </div>

      <div class="box">
        <p class="title is-size-1 has-text-centered" id="token">{{ token }}</p>
      </div>

      <div class="control is-clearfix">
        <a class="button is-large is-light is-pulled-right" id="clipboard-button" data-clipboard-target="#token" title="Copy token to clipboard">
          <img src="img/clippy.svg" height="36" width="36">
        </a>
      </div>

    </div>

  </section>

  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered"></div>
    </div>
  </footer>

</body>
</html>
